{% extends "layout.html.jinja2" %}
{% block body %}
    <h1>What in the name of art!</h1>
    <p>A prototype game by Jeremy Zhang for APCS "MINI" Project</p>
    <hr>
    <p>Would you like to create a new game (on a projector screen) or join a game?</p>
    <br>
    <a href="/join"><button type="button" class="btn btn-success btn-lg btn-block"><strong>Join</strong> a Game</button></a>
    <br><br>
    <a href="/newgame"><button type="button" class="btn btn-primary btn-lg btn-block"><strong>Create</strong> a Game</button></a>
{% endblock %}
