{% extends "layout.html.jinja2" %}
{% block body %}
    <h1>Would you like to start a new game?</h1>
    <a href="/newlobby"><button type="button" class="btn btn-success btn-lg btn-block">Start a new game</button>
    <br><br>
    <a href="/"><button type="button" class="btn btn-danger btn-lg btn-block">Cancel the creation of a new game</button></a>
{% endblock %}
